@import './theme';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$default-primary: mat-palette($mat-indigo);
$default-accent:  mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$default-warn:    mat-palette($mat-red);
$default-foreground: theme-foreground(mat-color($default-primary, 700));
$default-background: theme-background();

$default-theme-ground: map-merge((foreground: $default-foreground), (background: $default-background));
// Create the theme object (a Sass map containing all of the palettes).
$default-theme: map-merge(mat-light-theme($default-primary, $default-accent, $default-warn), $default-theme-ground);



    

    /* $background: map-get($default-theme, background);
    $foreground: map-get($default-theme, foreground);
    
    @debug $foreground; */
    /* color: mat-color($foreground, base); */

    /* table.av-table {
        background-color: mat-color($background, base);
        
        tbody {
            tr {
                &:hover {
                    background-color: mat-color($primary);
                    color: mat-color($background, base);
                }
            }
        }
    } */

    /* app-my-custom-list ul {
        background-color: mat-color($primary);
        color: mat-color($background, base);
    } */
