
@import './theme';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$google-primary: mat-palette($mat-gray);
$google-accent:  mat-palette($mat-blue, A200, A100, A400);
// The warn palette is optional (defaults to red).
$google-warn:    mat-palette($mat-red);
$google-foreground: theme-foreground(mat-color($google-primary, 700));

// Create the theme object (a Sass map containing all of the palettes).
$google-theme: map-merge(mat-light-theme($google-primary, $google-accent, $google-warn), (foreground: $google-foreground));


    
   /*  $foreground: map-get($google-theme, foreground);
    color: mat-color($foreground, base); */

    // set the colors of your components here:

    /* table.av-table {
        background-color: mat-color($primary, A100);
        thead {
            background-color: mat-color($accent);
            color: mat-color($primary, A100);
        }
        tbody {
            tr {
                &:hover {
                    background-color: mat-color($primary, A200);
                    color: mat-color($foreground, base);
                }
            }
        }
    } */

    /* app-my-custom-list ul {
        background-color: mat-color($primary);
        color: mat-color($foreground, base);
    } */

    /* button {
        border-radius: 0;
    } */
