<table class="av-table">
    <thead>
        <tr>
            <th>Year</th>
            <th>Month</th>
            <th>Day</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2020</td>
            <td>July</td>
            <td>Sunday</td>
        </tr>
        <tr>
            <td>2020</td>
            <td>September</td>
            <td>Monday</td>
        </tr>
        <tr>
            <td>2020</td>
            <td>October</td>
            <td>Saturday</td>
        </tr>
    </tbody>
</table>